* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.d-flex {
  display: flex;
}

.navbar {
  justify-content: space-around;
  color: #2c2c2c;
  background-color: #f4efec;
  align-items: center;
  padding: 10px;
}

.navbar img {
  width: 46px;
  height: 22.91px;
}

.options {
  width: 70%;
  display: none;
}

.options ul {
  justify-content: space-between;
  list-style: none;
  flex-grow: 1;
  flex-wrap: wrap;
}

.options ul li {
  padding: 12px;
  cursor: pointer;
}

.icons {
  width: 70px;
  justify-content: space-between;
}

.icons img {
  color: #2c2c2c;
  height: 20px;
  width: 20px;
}

#menuBtn {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.bigImage {
  color: white;
  display: flex;
  width: 100%;
  margin-bottom: 2%;
  position: relative;
  align-items: flex-start;
}

.bigImage img {
  width: 100%;
}

.bigImage div {
  position: absolute;
  width: 100%;
}

.bigImage div p {
  width: 50%;
}

.font-1 {
  font-size: 18px;
}

.font-2 {
  font-size: 13px;
}

.bttn-1 {
  position: absolute;
  right: 1%;
  bottom: 14%;
  padding: 1px 8px;
  font-size: 14px;
  background: #2c2c2c;
  color: white;
  border-radius: 16px;
  border: 1px solid black;
  cursor: pointer;
}

.bttn-1:hover {
  background: #323232;
}

.section3 {
  width: 100%;
  flex-direction: column;
  margin: auto;
}

.saralImg {
  width: 100%;
}

.saralImg img {
  height: 100%;
  width: 100%;
}

.shopByRoom {
  width: 100%;
  text-align: left;
}

.shopByRoom b {
  font-size: 50px;
}

.categories {
  color: #2c2c2c;
  margin-top: 1rem;
}

.categories div {
  width: 240px;
  margin-top: 3rem;
}

.heading-2 {
  font-size: 24px !important;
}

.sub-heading,
hr {
  color: black;
}

hr {
  margin-top: 10px;
}

.section-4 {
  background-color: black;
  color: white;
  align-items: center;
  width: 100%;
  position: relative;
  flex-direction: row-reverse;
  margin-top: 2rem;
}

.section-4 div {
  position: absolute;
  width: 300px;
  font-weight: 600;
  left: 3%;
}

.section-4 img {
  background-size: contain;
  height: 858px;
}

.heading-3 {
  font-size: 43px;
}

.sub-heading-2 {
  opacity: 0.6;
  font-size: 24px;
  font-weight: 100;
  margin-top: 36px;
  background-color: black;
}

.bttn-2 {
  margin-top: 36px;
  padding: 13px 35px;
  font-size: 24px;
  border-radius: 36px;
  background-color: #ffcc48;
  color: #2c2c2c;
  cursor: pointer;
  border: 1px solid black;
}

.bttn-2:hover {
  background-color: #ffcb48ce;
}

@media (min-width: 600px) {
  .sub-heading-2 {
    opacity: 0.8;
    background-color: transparent;
  }

  .options {
    display: block;
  }

  #menuBtn {
    display: none;
  }
}

@media (min-width: 1100px) {
  .section3 {
    width: 90%;
    justify-content: space-between;
    flex-direction: row;
  }

  .saralImg {
    width: 50%;
  }

  .shopByRoom {
    width: 45%;
  }
}

@media (min-width: 444px) {
  .section-4 div {
    width: 427px;
  }
}

@media (min-width: 412px) {
  .font-1 {
    font-size: 26px;
  }

  .font-2 {
    font-size: 19px;
  }
}

@media (min-width: 800px) {
  .font-1 {
    font-size: 53px;
  }

  .font-2 {
    font-size: 33px;
  }

  .bttn-1 {
    right: unset;
    position: absolute;
    left: 50%;
    bottom: 14%;
    padding: 12px 39px;
    font-size: 16px;
    background: #2c2c2c;
    color: white;
    border-radius: 16px;
    border: 1px solid black;
  }

  .bigImage div {
    position: absolute;
    width: 50%;
  }

  .bigImage div p {
    width: 79%;
    margin: auto;
  }

  .bigImage {
    align-items: center;
  }
}
